@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

input{
  padding: 10px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid orangered;
  color: orangered;
  margin: 7px;
  font-family: 'Manrope', sans-serif;
  outline: none;
}

input[type=text]:focus {
  border: 1.5px solid rgb(94, 255, 0);
  color: rgb(94, 255, 0);
}

ul{
  list-style: none;
}


.product-image{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  border: 3px solid orangered;
}