:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.product-lists{
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;

}

.product{
  width: 250px;
  border: 1.5px solid rgba(128, 128, 128, 0.39);
  border-radius: 20px;
  
}

.product-image{
  width: 200px;
  border-radius: 25px;
}